<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,600,800&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />  
  <link rel="stylesheet" href="./css/style.css"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/css/autoComplete.min.css">
  <title>PantryPal</title>

</head>

  <body>
<div>
    <nav class="navbar bg-body-tertiary navBar ">
      <div class="container-fluid">
        <h3 class="rainbow-text">Welcome To PantryPal 🛒<h3>
        {{#if logged_in}}

          <a class="nav-link" href="/dashboard"></a>
           <button class="btn btn-outline-success btn-logout" type="submit" id="logout">logout</button>
        </div>
    </nav>
  </div>

  
  {{else}}
     </div>
   </nav>
  </div>


    <a class="nav-link" href="/login"></a>
  

  {{/if}}
    <main>
      <!--files go here-->
      
  {{{body}}}
    </main>
      
      <footer>
      </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
{{#if logged_in}}
      <script src="/js/logout.js"></script>
{{/if}}

  </body>

</html>