<!-- As a link -->
<nav class="navbar bg-body-tertiary navBack">
  <div class="container-fluid">
       <a class="navbar-brand back-logging " href="/login">Back to Login</a>
  </div>
</nav>

<!-- As a heading -->


      <h2 class="signup">Sign Up</h2>
    
      <form class="form signup-form">
        <div class="form-group">
        
          <input class="form-input username" type="text" placeholder="Username" id="username-signup" />
        </div>
    
        <div class="form-group">
          <input class="form-input password" type="password" placeholder="Password" id="password-signup" />
        </div>
    
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Signup</button>
        </div>
      </form>
      <div>
    

      </div>


    